body{
	color:#585976;		/* Couleur de la police Gris foncé */
	background: linear-gradient(#8EB3C8, white);
}

h1 {
	/* Définition des titres (des pages) */
	color:#AE3030;
	font-size: 2em; 	/* Double de la police normale */
	font-weight:bold;
}

h2 {
	/* Définition des titres de niveau 2 */
	color:#AE3030;
	font-size: 2em; 	/* Double de la police normale */
}

.texte{
	font-size: 1.75em; 	/* Double de la police normale */
	color:#AE3030;
	font-weight:bold;
}

table ,td, tr {
	border-style:solid ; 	/* Bordure double */
	border-width:3px;		/* Epaisseur bordure */
	border-color:#1B4B67;	/* Couleur de la bordure */
	border-radius: 5px;		/* Arrondissement des angles */
	margin :5px;
	text-align:center;  /* Centrage du texte */
}

a{
	color:#8C0404;		/* couleur des liens non visités */
}

a:visited { 
	color: grey; 		/* couleur des liens  visités */
}

.entete{ /* Définition des propriétés de l'entete */
	background: linear-gradient(#8EB3C8, white);
}

.contenu{ /* Définition des propriétés du corps de la page */
		background: linear-gradient(#8EB3C8, white);
}

.basDePage{ /* Définition des propriétés du bas de la page */
		background: linear-gradient(#8EB3C8, white);
}

.largeur100{ /* Permet de mettre les tables en 100% de la largeur */
	width:100%;
}

.largeurColonne25 { /* Largeur de colonnes 25% */
  width:25%;
}

.largeurColonne20 { /* Largeur de colonnes 20% */
  width:20%;
}

.largeurColonne50 { /* Largeur de colonnes 20% */
  width:50%;
}

.largeurColonne80 { /* Largeur de colonnes 80% */
  width:80%;
}

.largeurColonne40 { /* Largeur de colonnes 40% */
  width:40%;
}

.largeurColonne33 { /* Largeur de colonnes 33.33% */
  width:33.33%;
}

.sansCadre{
	border-width:0px;
}

#imageHaut{
	height:170px;
	border-radius: 15px;
	padding:5px;
}

.border-1 {
	border: 1rem solid;
}

.imagesCentre{
	height:150px;
}

#logoIUT{
	width:100px;
}

#cadreModeEmploi{
	background-image:url("../images/devanture.jpg");	/* Image de fond pour le cadre mode d'emploi */
	color:#AE3030;		/* Couleur de la police BLanc */
}
#cadreIcones{
	background-image:url("../images/devanture2.jpg");	/* Image de fond pour le cadre contenant les icones */
}


img:hover {
	-webkit-transform:scale(1.2); 	/* Transformation pour Firefox */
	transform: scale(1.2);			/* Transformation pour les autres navigateurs  */
}


.pointer:hover {
	cursor: pointer;
}